/node_modules
/coverage
/reports
/.nyc_output
/.vscode

/packages/*/node_modules
/packages/*/coverage
/packages/*/dist
/packages/*/yarn-error.log

/packages/react-ui/storybook-static

.DS_Store

# Firebase
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/


